.selector-for-some-widget {
  box-sizing: content-box;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header img{
  width: 15%;
  margin-left: 10px; /* Ajusta el valor según sea necesario */
}
header {
  background-color: #000000;
}
.navbar-nav .nav-link {
  color: #fff !important; /* Letras blancas */
}
.navbar-text .nav-link {
  color: #fff !important; /* Letras blancas para el enlace Acceder */
}
/* Estilo para el usuario en la barra de navegación */
.navbar-text {
  color: #fff; /* Color del texto */
  font-weight: bold; /* Peso de la fuente */
  margin-right: 20px; /* Espacio a la derecha */
}
/* Estilo para el enlace de acceso */
.navbar-text a {
  color: #fff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}
body{
  color: #000;
}
.form {
  width: 450px;
}
a{
  color: #000;
}
.image-container {
  width: 100%;
  height: 260px; /* Altura deseada de la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 10px solid #ffffff;
}