<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartHouse</title>
    <!-- Estilo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Vinculación con Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="/static/images/Logo.png" alt="Smarthouse Logo" class="mr-2"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formulario">Publicar producto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div c
                            lass="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/TV_Video">TV & Video</a></li>
                                <li><a class="dropdown-item" href="/Climatizacion">Climatización</a></li>
                                <li><a class="dropdown-item" href="/Electrodomesticos">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="/Tecnologia">Tecnología</a></li>
                              </ul>
                            </div>
                        </li>                                             
                    </ul>
                    <span class="navbar-text">
                        <a class="nav-link" href="/acceso">Acceder</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container py-2">
        <h1 class="text-center">Acceder</h1>
        <form id="formularioAcceso" action="/cuenta" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email" class="form-label">Correo electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="contraseña" class="form-label">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Acceder</button>
        </form>
       
        <p class="mt-3">¿No tienes una cuenta? <a href="/nuevo_usuario" class="btn btn-primary">Registrate</a></p>
    </div>

    <div id="resultado"></div>

    <script>
        document.getElementById("formularioAcceso").addEventListener("submit", function(event) {
            event.preventDefault();
            // Obtener datos del formulario
            var email = document.getElementById("email").value;
            var contraseña = document.getElementById("contraseña").value;
            // Construir objeto 
            var formData = new FormData();
            formData.append("email", email);
            formData.append("contraseña", contraseña);
            // Envia solicitud POST para carga del producto
            fetch("/verificar", {
                method: "POST",
                body: formData 
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("resultado").innerText = data.mensaje;
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al acceder";
            });
        });
    </script>
</body>
</html>
