<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartHouse</title>
    <!--Estilo CSS-->
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
    <!-- Vinculacion con Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="/static/images/Logo.png" alt="Smarthouse Logo" class="mr-2"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        {% if session and session.usuario and session.usuario.rol == 1 %}
                            <li class="nav-item">
                                <a class="nav-link" href="/formulario">Publicar producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios">Gestionar cuentas</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/TV_Video">TV & Video</a></li>
                                <li><a class="dropdown-item" href="/Climatizacion">Climatización</a></li>
                                <li><a class="dropdown-item" href="/Electrodomesticos">Electrodomésticos</a></li>
                                <li><a class="dropdown-item" href="/Tecnologia">Tecnología</a></li>
                              </ul>
                            </div>
                        </li>                                             
                    </ul>
                    {% if session and session.get('usuario') %}
                        <div class="navigation-card">
                            <a class="tab" id="btn-perfil">
                            <svg
                                width="104"
                                height="100"
                                viewBox="0 0 104 100"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect
                                x="21.5"
                                y="3.5"
                                width="60"
                                height="60"
                                rx="30"
                                stroke="black"
                                stroke-width="7"
                                ></rect>
                                <g clip-path="url(#clip0_41_27)">
                                <mask
                                    id="mask0_41_27"
                                    style="mask-type:luminance"
                                    maskUnits="userSpaceOnUse"
                                    x="0"
                                    y="61"
                                    width="104"
                                    height="52"
                                >
                                    <path
                                    d="M0 113C0 84.2812 23.4071 61 52.1259 61C80.706 61 104 84.4199 104 113H0Z"
                                    fill="white"
                                    ></path>
                                </mask>
                                <g mask="url(#mask0_41_27)">
                                    <path
                                    d="M-7 113C-7 80.4152 19.4152 54 52 54H52.2512C84.6973 54 111 80.3027 111 112.749H97C97 88.0347 76.9653 68 52.2512 68H52C27.1472 68 7 88.1472 7 113H-7ZM-7 113C-7 80.4152 19.4152 54 52 54V68C27.1472 68 7 88.1472 7 113H-7ZM52.2512 54C84.6973 54 111 80.3027 111 112.749V113H97V112.749C97 88.0347 76.9653 68 52.2512 68V54Z"
                                    fill="black"
                                    ></path>
                                </g>
                                </g>
                                <defs>
                                <clipPath id="clip0_41_27">
                                    <rect
                                    width="104"
                                    height="39"
                                    fill="white"
                                    transform="translate(0 61)"
                                    ></rect>
                                </clipPath>
                                </defs>
                            </svg>
                            </a>
                        </div>
                        <!-- Modal para cerrar sesión -->
                        <div class="modal" id="modal-cerrar-sesion" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Cerrar Sesión</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas cerrar la sesión?</p>
                                        <p>Al cerrar sesión, saldrás de tu cuenta.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #0544d9; color: white;">Cancelar</button>
                                        <button id="btn-cerrar-sesion" class="btn btn-primary" style="background-color: #f35404; color: white;">Cerrar Sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {% else %}
                        <span class="navbar-text">
                            <a class="nav-link" href="/acceso">Iniciar sesión</a>
                            <a class="nav-link" href="/nuevo_usuario">Registrarme</a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
        
    <h1>{{ categoria }}</h1>
    <div class="container">
        <div class="row row-cols-3">
          {% for producto in productos %}
            <div class="col">
                <div class="card">
                    <div class="image-container">
                        <img src="{{ producto[6] }}" class="card-img-top" alt="Imagen del producto">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ producto[1] }}</h5>
                        <p class="card-text">{{ producto[2] }}</p>
                        <p class="card-text">Precio: {{ producto[4] }}</p>
                        <p class="card-text">Cantidad disponible: {{ producto[5] }}</p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>

    <footer class="text-body-secondary py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Volver al inicio</a>
          </p>
        </div>
    </footer>
    <!-- JavaScript para abrir el modal -->
    <script>
        // Obtener el botón de perfil
        var btnPerfil = document.getElementById('btn-perfil');
        var modalCerrarSesion = document.getElementById('modal-cerrar-sesion');
        // abrir modal
        btnPerfil.addEventListener('click', function() {
            modalCerrarSesion.style.display = 'block';
        });
        // cerrar con (X)
        document.querySelectorAll('.btn-close').forEach(function(element) {
            element.addEventListener('click', function() {
                modalCerrarSesion.style.display = 'none';
            });
        });
        // botón cerrar
        document.querySelectorAll('.btn.btn-secondary').forEach(function(element) {
            element.addEventListener('click', function() {
                modalCerrarSesion.style.display = 'none';
            });
        });
        // CIERRE DE LA SESION
        document.getElementById('btn-cerrar-sesion').addEventListener('click', function() {
            // Envia solicitud POST /cerrar_sesion
            fetch('/cerrar_sesion', {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    alert('Sesión cerrada exitosamente');
                    window.location.href = '/';
                } else { alert('error al cerrar la sesión');}
            })
            // .catch(error => {
             //    console.error('Error:', error);
             //    alert('Hubo un error al cerrar la sesión');
            // });
        });
    </script>
   
</body>
</html>