<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Producto</title>
</head>
<body>
    <h1>Cargar Producto</h1>
    <form id="formularioProducto" action="/cargar_producto" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion"><br>
        <label for="precio">Precio:</label><br>
        <input type="text"te id="precio" name="precio"><br>
        <label for="cantidad">Cantidad:</label><br>
        <input type="number" id="cantidad" name="cantidad"><br>
        <label for="foto">Foto:</label><br>
        <input type="file" id="foto" name="foto"><br>

        <button type="submit">Cargar Producto</button>
    </form>

    <div id="resultado"></div>

    <script>
        document.getElementById("formularioProducto").addEventListener("submit", function(event) {
            event.preventDefault();

            // Obtener datos del formulario
            var nombre = document.getElementById("nombre").value;
            var descripcion = document.getElementById("descripcion").value;
            var precio = document.getElementById("precio").value;
            var cantidad = document.getElementById("cantidad").value;
            var foto = document.getElementById("foto").files[0];

            // Construir objeto con los datos de arriba
            //FormData 
            var formData = new FormData();
            formData.append("nombre", nombre);
            formData.append("descripcion", descripcion);
            formData.append("precio", precio);
            formData.append("cantidad", cantidad);
            formData.append("foto", foto);

            // Envia solicitud POST para carga del producto
            fetch("/cargar_producto", {
                method: "POST",
                body: formData 
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("resultado").innerText = data.mensaje;
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("resultado").innerText = "Error al cargar el producto";
            });
        });
    </script>
</body>
</html>

